@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #7ce87e;
    --background-color: #f0f0f0;
    --border-color: #c5c5c5;
    --secondary-color: #e0e0e0;
    --secondary-darker-color: #cbcbcb;
    --secondary-darker-dark-color: #b5b5b5;
    --transition: background 0.3s, color 0.3s, border 0.3s;
    --color: #2f2f2f;
    --lighter-color: #4f4f4f;
    --kategorie-color: #7f7f7f;
}

[data-theme="dark"]{
    --primary-color: #7ce87e;
    --background-color: #19191c;
    --border-color: #262626;
    --secondary-color: #2f2f2f;
    --secondary-darker-color: #3f3f3f;
    --secondary-darker-dark-color: #4f4f4f;
    --transition: background 0.3s, color 0.3s, border 0.3s;
    --color: #e0e0e0;
    --lighter-color: #c7c7c7;
    --kategorie-color: #c7c7c7;
}

body{
    background-color: var(--background-color);
    transition: var(--transition);
    color: var(--color);
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: underline;
    color: var(--primary-color);
    transition: var(--transition);
    font-weight: 600;
}

nav{
    background-color: var(--secondary-color);
    border-right: 1px solid var(--border-color);
    color: var(--color);
    transition: var(--transition);
    padding: 0 10px;
    width: 350px;
    height: 100vh;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{

}

nav a{
    color: var(--color);
    list-style-type: none;
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-radius: 50px;
    padding-left: 20px;
    display: block;
    text-decoration: none;
    transition: var(--transition);
}

nav a:hover{
    background-color: var(--secondary-darker-color);
    cursor: pointer;
    color: var(--kategorie-color);
}

.navbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.buttonMenu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttonMenu button{
    background-color: var(--secondary-darker-color);
    border: none;
    color: var(--color);
    padding: 10px 20px;
    border-radius: 50px;
    margin: 10px 0;
    cursor: pointer;
    transition: var(--transition);
    font-size: 1.2em;
}

.buttonMenu button:hover{
    background-color: var(--secondary-darker-dark-color);
}

main{
    padding: 20px;
    width: 100%;
    color: var(--color);
    transition: var(--transition);
    overflow-y: scroll;
    height: 100vh;
}

main::-webkit-scrollbar {
    width: 10px;
}

main::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    transition: var(--transition);
    border-radius: 10px;
}

main::-webkit-scrollbar-track {
    background-color: var(--background-color);
    transition: var(--transition);
}

.navbar-label {
    color: var(--kategorie-color);
    display: flex;
    flex-direction: row;
    padding: 30px 0 10px 20px;
    transition: var(--transition);
}

.navbar-label:after {
    border-bottom: 1px solid;
    content: "";
    flex: 1 1;
    margin: auto 10px;
}

.navbar-closes{
    position: fixed;
    bottom: 0;
    left: 10px;
}

.challenges{
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.challenges li{
    display: flex;
    background: var(--secondary-color);
    border-radius: 15px;
    overflow: hidden;
    transition: var(--transition);
    margin-bottom: 10px;
}

.challenges li:hover{
    background: var(--secondary-darker-color);
    cursor: pointer;
}

.challenges div:first-child{
    font-size: 1.5em;
    font-weight: 600;
    background: var(--secondary-darker-color);
    padding: 10px 30px 35px 20px;
    width: 70px;
    margin-right: 10px;
    border-right: 1px solid var(--border-color);
    transition: var(--transition);
}

.challenges li:hover div:first-child{
    background: var(--secondary-darker-dark-color);
    border-right: 1px solid var(--secondary-darker-dark-color);
}

.challenges div:last-child{
    padding: 10px;
    flex: 1;
}

.challenges > li > div:last-child > p{
    margin: 0;
}

.showcase h4{
    padding-top: 20px;
}

.showcase h2{
    margin-top: 60px;
}

/*linie unter dem text und noch bis 20px daneben weiter*/
.showcase h2:after{
    content: "";
    display: block;
    border-bottom: 2px solid #d0d0d0;
    width: 100%;
    margin-top: 10px;
}

.showcase img{
    width: 100%;
    border-radius: 15px;
    max-width: 1000px;
}

.hide{
    display: none;
}

.switchPage{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    background: var(--secondary-color);
    border-radius: 15px;
    padding: 10px;
    transition: var(--transition);
    color: var(--color);
    border: 2px solid var(--border-color);
    text-decoration: none;
    min-width: 230px;
    max-width: 230px;
}

.switchPage:hover{
    background: var(--secondary-darker-color);
    color: var(--lighter-color);
    cursor: pointer;
}

.switchPages{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.switchPage > div:first-child > div:last-child{
    font-size: 1.5em;
}

.switchPage > div:first-child > div:first-child{
    color: var(--lighter-color);
    transition: var(--transition);
}

.switchPage:hover > div:first-child > div:first-child{
    color: var(--kategorie-color);
}

.switchPageLeft{
    flex-direction: row-reverse;
}

.switchPageLeft > div:first-child {
    text-align: right;
}

.switchPageRight{
    flex-direction: row;
}

